@{
    ViewData["Title"] = "Resultado";
}
<div class = "Principal">
<h1>Receta sugerida para @ViewBag.nombre, cuya edad es de @ViewBag.edad años</h1>
<p>Plato sugerido: @ViewBag.platoSugerido</p>
<p>Tiempo estimado de preparación: @ViewBag.tiempo minutos</p>
<p>Cantidad de comensales: @ViewBag.cantidadComensales</p>
<p>Dificultad del plato: @ViewBag.dificultad</p>
</div>



